<!DOCTYPE html>
<html>
	<head>
		<title>Podcaster</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	</head>
	
	<body>
		<div id="background">
			<header class="cf">
			  <div class="wrapper_wide">
					<a href="index.html" id="logo">Podcaster</a>
					<nav>
						<ul>
							<li><a href="#">Explore</a></li>
							<li><a href="#">Sign In</a></li>
							<li><a href="#">Create a Podcast</a></li>
						</ul>
					</nav>
			  </div>
			</header>
			<div class="wrapper_skinny">
				<h1>Find a podcast that speaks to you,</br> or launch your own!</h1>
				
				<a href="#" class="button button_highlight">Create a Podcast</a>
				<a href="#" class="button button_orange">Explore</a>
		    </div>
		</div>
    </body>
</html>